{% extends "sim_template.html" %}
{% block conteudo %}
    <a class="btn btn-primary" href="{{ url_for('nova_categoria') }}">Cadastrar nova categoria</a>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>ID</th>
                    <th>Descrição:</th>
                    <th>Ordem:</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for i in lista %}
                <tr>
                    <td>{{ i.id}}</td>
                    <td>{{ i.desc }}</td>
                    <td>{{ i.ordem }}</td>
                    <td><a href="{{ url_for('editar_categoria', id=i.id) }}">Editar</a></td>
                    <td><a href="{{ url_for('deletar_categoria', id=i.id) }}">Deletar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}